<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.UserMessageMapper">
    <insert id="addMessage">
        insert into UserMessage(
            openId,
            createTime,
            content,
            imageUrl
        ) values(
            #{openId},
            #{createTime},
            #{content},
            #{imageUrl}

        );
    </insert>

    <select id="queryMessage" resultType="com.app.bean.UserMessage">
        select t1.*,t2.userAvatar,t2.phoneType from UserMessage t1 LEFT JOIN UserInfo t2 ON t1.openId = t2.openId limit #{start},#{rows};
    </select>

    <select id="MessageNum" resultType='int'>
        select count(1) from UserMessage;
    </select>

</mapper>