<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.UserMessageMapper">
    <insert id="addMessage">
        insert into UserMessage(
            openId,
            userName,
            avatarUrl,
            content,
            imageUrl,
            phoneType,
            createTime
        ) values(
            #{openId},
            #{userName},
            #{avatarUrl},
            #{content},
            #{imageUrl},
            #{phoneType},
            #{createTime}
        );
    </insert>

    <select id="queryMessage" resultType="com.app.bean.UserMessage">
        select * from UserMessage limit #{start},#{rows};
    </select>

    <select id="MessageNum" resultType="integer">
        select count(1) from UserMessage;
    </select>

</mapper>